<ion-view title="1. Semester" id="page1" style="background-color:#3B3A53;">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h1 id="1Semester-heading1" style="color:#8CCD0F;">Pax Noten App</h1>
    <div class="spacer" style="width: 300px; height: 31px;"></div>
    <a ui-sref="menu.noteEingeben" id="1Semester-button2" style="color:#000000;" class="button button-light  button-block button">Noten eingeben</a>
    <a ui-sref="menu.notenAnsehen" id="1Semester-button3" style="color:#000000;" class="button button-light  button-block button">Noten ansehen</a>
    <a ui-sref="menu.fCherVerwalten" id="1Semester-button4" style="color:#000000;" class="button button-light  button-block button">Fächer verwalten</a>
    <div class="spacer" style="width: 300px; height: 208px;"></div>
    <div id="1Semester-markdown11" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">
        <strong>©Loïc Jermann</strong> 2017 for Pax</p>
    </div>
  </ion-content>
</ion-view>