<ion-view title="Fächer verwalten" id="page8">
  <ion-content padding="true" class="has-header">
    <div id="fCherVerwalten-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:30px;">
        <strong>Deine Fächer</strong>
      </p>
    </div>
    <ion-list id="fCherVerwalten-list6">
      <ion-item id="fCherVerwalten-list-item27">Mathe
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item id="fCherVerwalten-list-item28">Deutsch
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item id="fCherVerwalten-list-item29">Englisch
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item id="fCherVerwalten-list-item30">Geschichte
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item id="fCherVerwalten-list-item31">Wirtschaft
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item id="fCherVerwalten-list-item32">Java
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item id="fCherVerwalten-list-item33">Datenbanken
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
    </ion-list>
    <button id="fCherVerwalten-button12" class="button button-dark  button-block">Fach hinzufügen</button>
  </ion-content>
</ion-view>