<ion-view title="Note eingeben" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 28px;"></div>
    <form id="noteEingeben-form1" class="list">
      <label class="item item-select" id="noteEingeben-select1">
        <span class="input-label">Fach auswählen</span>
        <select>
          <option>Mathe</option>
          <option>Geschichte</option>
          <option>Englisch</option>
          <option>Deutsch</option>
          <option>Wirtschaft</option>
          <option>Java</option>
          <option>Datenbanken</option>
        </select>
      </label>
      <div class="spacer" style="width: 300px; height: 20px;"></div>
      <label class="item item-input" id="noteEingeben-input1">
        <span class="input-label">Note</span>
        <input type="text" placeholder="Note eingeben">
      </label>
      <div class="spacer" style="width: 300px; height: 20px;"></div>
      <label class="item item-input" id="noteEingeben-input2">
        <span class="input-label">Gewichtigkeit</span>
        <input type="text" placeholder="Gewichtigkeit eingeben">
      </label>
    </form>
    <button id="noteEingeben-button11" class="button button-balanced  button-block">Noten speichern</button>
  </ion-content>
</ion-view>