<ion-view title="Noten ansehen" id="page7">
  <ion-content padding="true" class="has-header">
    <div id="notenAnsehen-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:21px;">
        <strong>Mathe</strong>
      </p>
    </div>
    <ion-list id="notenAnsehen-list2">
      <ion-item id="notenAnsehen-list-item12">Note: 5.6
        <span class="item-note">Gewichtung: 1.0</span>
        <ion-option-button class="button-dark">Edit</ion-option-button>
      </ion-item>
      <ion-item id="notenAnsehen-list-item13">Note: 4.8
        <span class="item-note">Gewichtung: 0.5</span>
        <ion-option-button class="button-dark">Edit</ion-option-button>
      </ion-item>
      <ion-item id="notenAnsehen-list-item14">Note: 3.5
        <span class="item-note">Gewichtung: 2.0</span>
        <ion-option-button class="button-dark">Edit</ion-option-button>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <div id="notenAnsehen-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:21px;">
        <strong>Geschichte</strong>
      </p>
    </div>
    <ion-list id="notenAnsehen-list3">
      <ion-item id="notenAnsehen-list-item15">Note: 3.6
        <span class="item-note">Gewichtung: 1.0</span>
        <ion-option-button class="button-dark">Edit</ion-option-button>
      </ion-item>
      <ion-item id="notenAnsehen-list-item16">Note: 4.8
        <span class="item-note">Gewichtung: 0.2</span>
        <ion-option-button class="button-dark">Edit</ion-option-button>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <div id="notenAnsehen-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:21px;">
        <strong>Englisch</strong>
      </p>
    </div>
    <ion-list id="notenAnsehen-list4">
      <ion-item id="notenAnsehen-list-item21">Note: 5.0
        <span class="item-note">Gewichtung: 1.0</span>
        <ion-option-button class="button-dark">Edit</ion-option-button>
      </ion-item>
      <ion-item id="notenAnsehen-list-item22">Note: 4.5
        <span class="item-note">Gewichtung: 1.0</span>
        <ion-option-button class="button-dark">Edit</ion-option-button>
      </ion-item>
      <ion-item id="notenAnsehen-list-item23">Note: 5.3
        <span class="item-note">Gewichtung: 0.5</span>
        <ion-option-button class="button-dark">Edit</ion-option-button>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <div id="notenAnsehen-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:21px;">
        <strong>Deutsch</strong>
      </p>
    </div>
    <ion-list id="notenAnsehen-list5">
      <ion-item id="notenAnsehen-list-item24">Note: 4.5
        <span class="item-note">Gewichtung: 0.5</span>
        <ion-option-button class="button-dark">Edit</ion-option-button>
      </ion-item>
      <ion-item id="notenAnsehen-list-item25">Note: 3.8
        <span class="item-note">Gewichtung: 1.0</span>
        <ion-option-button class="button-dark">Edit</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>